:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tertiary-color: #00ADB5;
    --quaternary-color: #EEEEEE;
    --text-default: #fff;
    --gradient-light: #115f63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-default);
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.png);
    background-size: 80%;
    background-position: 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;


}

.container {
    padding: 10px 10%;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.container nav .logo {
    width: 250px;
    font-size: 35px;
    font-weight: 600;
    color: var(--tertiary-color);
    margin-top: 5px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-default);
    font-weight: 500;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--quaternary-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: var(--tertiary-color);
    transition: 0.2s;
}

#header .container .content {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 24px;
}

.container .content h3 {
    font-size: 50px;
    font-weight: 500;
}

.container .content p {
    font-size: 35px;
    margin: 20px 0;
    font-weight: 500;
}

.container .content p span {
    color: var(--tertiary-color);
    font-size: 36px;
}

#about {
    width: 100%;
    height: 100vh;
}

#about .container {
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 30px 10%;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#about .container .content {
    width: 50%;
    height: 75%;
}

#about .container .content h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--tertiary-color);
}

#about .container .content p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
}

#about .container .image-container {
    width: 40%;
    position: relative;
    align-items: center;
    justify-content: center;
}

#about .container .image-container img {
    width: 80%;
    border-radius: 10px;
}

#about .container .image-container::after {
    content: '';
    position: absolute;
    width: 82%;
    height: 100%;
    border-radius: 10px;
    background: var(--tertiary-color);
    top: 16px;
    left: 16px;
    background-blend-mode: screen;

}

#about .container .image-container::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    background: var(--primary-color);
    top: 16px;
    left: 16px;
    z-index: -1;
}

#about .container .image-container img {
    position: relative;
    z-index: 1;
}

#about .container .content .tab-tiles {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#about .container .content .tab-tiles p {
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--tertiary-color);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link {
    color: var(--tertiary-color);
}

#about .container .content .tab-contents {
    margin-top: 5px;

}

#about .container .content .tab-contents ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

#about .container .content .tab-contents ul li {
    margin: 10px 0;
    font-size: 14px;
    width: 90%;
}

#about .container .content .tab-contents ul li span {
    font-size: 18px;
    font-weight: 500;
    color: var(--tertiary-color);
}

#about .container .content .tab-contents {
    display: none;
}

#about .container .content .tab-contents.active-tab {
    display: block;
}

#skills {
    width: 100%;
    height: 100vh;
}

#skills .container {
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 60px 10%;
    background: var(--secondary-color);
    color: var(--quaternary-color);
    border-radius: 10px;

}

#skills .container h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

#skills .container p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;

}

#skills .container .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

#skills .container .content .col {
    width: 20%;
    height: fit-content;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    transition: background 0.3s;


}

#skills .container .content .col span {
    font-size: 20px;
    font-weight: 500;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

#skills .container .content .col img {
    width: 100%;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5px;
    margin: 0;
}

.progress {
    display: block;
    height: 8px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

.progress-per {
    font-size: 14px;
    font-weight: 500;
    color: var(--tertiary-color);
    margin-left: 10px;
    margin-top: 10px;
}

#skills .container .content .col:hover {
    background: linear-gradient(to top, var(--gradient-light), var(--tertiary-color));
    backdrop-filter: blur(10px);
    transition: 0.3s;
    transform: scale(1.10) translateY(25px) translateX(10px);
    box-shadow: var(--gradient-light) 0px 0px 10px 0px;
}

#skills .container .content .col:hover span {
    color: var(--primary-color);
    transition: 0.2s;
}

#skills .container .content .col:hover .progress {
    background-color: var(--primary-color);
    transition: 0.2s;
}

#skills .container .content .col:hover .progress-bar {
    background-color: var(--quaternary-color);
    transition: 0.2s;
}

#skills .container .content .col:hover .progress-per {
    color: var(--primary-color);
    transition: 0.2s;
}

#work {
    width: 100%;
    height: 100vh;
}

#work .container {
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 60px 10%;
    background: var(--secondary-color);
    color: var(--quaternary-color);
    border-radius: 10px;
}

#work .container h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

#work .container p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
}

#work .container .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#work .container .content .col {
    width: 30%;
    height: fit-content;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    transition: background 0.3s;
}

#work .container .content .col span {
    font-size: 20px;
    font-weight: 500;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

#work .container .content .col .image-container {
    width: 100%;
    height: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
}

#work .container .content .col .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;

}

#work .container .content .col .image-container .overlay a {
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid var(--quaternary-color);
    border-radius: 5px;
    transition: 0.3s;
}

#work .container .content .col .image-container .overlay a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: 0.3s;
}

#work .container .content .col .image-container:hover .overlay {
    opacity: 1;
    transition: 0.3s;
}


#work .container .content .col .image-container img {
    width: 100%;
    border-radius: 10px;
    height: 90%;
}

#work .container .content .col:hover {
    background: linear-gradient(to top, var(--gradient-light), var(--tertiary-color));
    backdrop-filter: blur(10px);
    transition: 0.3s;
    transform: scale(1.10) translateY(25px) translateX(10px);
    box-shadow: var(--gradient-light) 0px 0px 10px 0px;
}

#work .container .content .col:hover span {
    color: var(--primary-color);
    transition: 0.2s;
}

#work .container .content .col .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#work .container .content .col .text h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

#work .container .content .col .text p {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-default);
    margin-bottom: 10px;
}

#work .container .content .col:hover .text h4 {
    color: var(--primary-color);
    transition: 0.2s;
    font-weight: 600;
}

#work .container .content .col:hover .text p {
    color: var(--quaternary-color);
    transition: 0.2s;
}

#contact {
    width: 100%;
    height: 100vh;
}

#contact .container {
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 60px 10%;
    background: var(--secondary-color);
    color: var(--quaternary-color);
    border-radius: 10px;
}

#contact .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

#contact .container .row .contact-left {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

#contact .container .row .contact-left h3 {
    font-size: 50px;
    font-weight: 600;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

#contact .container .row .contact-left p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
}

#contact .container .row .contact-left p i {
    color: var(--tertiary-color);
    margin-right: 10px;

}

#contact .container .row .contact-left .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#contact .container .row .contact-left .social-icons a {
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    margin-right: 10px;
}

#contact .container .row .contact-left .social-icons a i {
    margin-right: 10px;
    size: 20px;

}

#contact .container .row .contact-left .social-icons a:hover {
    color: var(--tertiary-color);
    transition: 0.3s;
}

#contact .container .row .contact-left .btn {
    text-decoration: none;
    color: var(--quaternary-color);
    background-color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid var(--quaternary-color);
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
    margin-top: 30px;
}

#contact .container .row .contact-left .btn:hover {
    background-color: var(--quaternary-color);
    box-shadow: var(--tertiary-color) 0px 0px 10px 0px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: 0.3s;
}

#contact .container .row .contact-right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

#contact .container .row .contact-right h3 {
    font-size: 35px;
    font-weight: 500;
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

#contact .container .row .contact-right form input {
    width: 100%;
    height: 60px;
    margin: 15px 0;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-size: 18px;
    font-weight: 500;
}

#contact .container .row .contact-right form textarea {
    width: 100%;
    height: 150px;
    margin: 15px 0;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-size: 18px;
    font-weight: 500;
}

#contact .container .row .contact-right form input[type="submit"] {
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid none;
    border-radius: 5px;
    transition: 0.3s;
    width: 35%;
    margin-right: 10px;
    margin-top: 20px;
}

#contact .container .row .contact-right form input[type="submit"]:hover {
    background-color: var(--tertiary-color);
    box-shadow: var(--tertiary-color) 0px 0px 10px 0px;
    color: var(--primary-color);
    transition: 0.3s;
}

#contact .container .row .contact-right form input[type="reset"] {
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid none;
    border-radius: 5px;
    transition: 0.3s;
    width: 20%;
    margin-right: 10px;
    margin-top: 20px;

}

#contact .container .row .contact-right form input[type="reset"]:hover {
    box-shadow: var(--quaternary-color) 0px 0px 10px 0px;
    color: var(--quaternary-color);
    transition: 0.3s;

}

#contact .container .row .contact-right form .status-message {
    display: none;
    width: 100%;
    height: 60px;
    margin: 15px 0;
    border: none;
    color: var(--quaternary-color);
    font-size: 18px;
    font-weight: 500;

}